header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #ffffff;
  top: 0;
  box-shadow: 2px 2px rgba(211, 211, 211, 0.26);
}

.logo {
  font-size: 30px;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  padding-right: 20px;
  cursor: pointer;
  padding-left: 50px;
}
.logo:hover {
  color: #1890ff;
}

.nav_bar_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-right: 30px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.nav_bar_box1 {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.nav_bar_box3,
.nav_bar_box2 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav_buttom {
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  height: 18px;
  text-decoration: none;
  color: black;
  padding: 8px 15px 5px 15px;
  margin-right: 10px;
}

.nav_border {
  border: 2px solid black;
}

.nav_buttom:hover {
  color: #1890ff;
}

.active_nav {
  border: 2px solid black;
}

.nav_links {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-right: 40px;
}

.nav_links:hover {
  color: #1890ff;
}

.nav_box_link {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

// dropdown

.profile_container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-right: 20px;
}

.profile_dropdown {
  position: absolute;
  display: none;
  &.toggle {
    display: block;
    border-radius: 10px;
    box-sizing: content-box;
    width: 180px;
    z-index: 1; //  need some more work for this
    background-color: white;
    margin-top: 2px;
    margin-left: -20px;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border: none;
  }
}

.profile_Link {
  text-decoration: none;
  color: inherit;
  padding: 10px 30%;
}

.profile_dropdown > li {
  text-decoration: none;
  font-size: 14px;
  padding: 10px 20px;
  color: black;
}

.profile_dropdown li:hover {
  background: #216feb;
  color: white;
}

.profile_logo {
  color: #b9c1c7;
  font-size: 30px;
}
