.picture_show_container {
  background-color: #222222;
  padding-top: 10px;
  margin-top: 4%;
}
.picture_show_box1 {
  margin-top: 10px;
}

.picture_show_box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  padding-bottom: 40px;
}
.picture_show_img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  max-height: 500px;
  min-height: 500px;
  cursor: pointer;
}

.fa-arrow-left {
  color: white;
  font-size: 20px;
  margin-left: 60px;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}

.fa-arrow-left:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  opacity: 1;
  padding: 5px;
}

.picture_show_info {
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.picture_info {
  background-color: white;
  overflow: hidden;
  flex: 0.5;
  div > h5 {
    font-size: 30px;
  }
  div > p {
    font-size: 20px;
    padding: 20px;
  }
}
.picture_comments {
  background-color: white;
  margin-left: 2rem;
  flex: 0.2.5;
  padding: 2rem;
}

.like_button {
  border: none;
  font-size: 30px;
  background-color: white;
  cursor: pointer;
}

.picture_info {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.picture_info_box2 {
  display: flex;
  margin-top: 30px;
  align-items: center;
  h5 {
    margin-left: 20px;
  }
  .profile_logo {
    font-size: 50px;
    cursor: pointer;
  }
}

.comment_info {
  margin: 2rem;
}

.user_comment_form {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-weight: bolder;
    font-size: larger;
    font-family: "Roboto", sans-serif;
  }
  textarea {
    width: 90%;
    padding: 0.5rem;
    font-size: larger;
    margin: 1rem;
    font-family: "Roboto", sans-serif;
  }
  button {
    cursor: pointer;
    width: 20%;
    color: white;
    background: #1167cf;
    border-radius: 30px;
    border: none;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 17px;
  }
}

.comment_error {
  color: red;
}
