.profile_arrow {
  color: black;
}

.profile_header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  font-size: 30px;
  height: 30vh;
}

.profile_logo_2 {
  color: #b9c1c7;
  font-size: 80px;
  margin: 20px;
}
